 .main-content {
    background-color: var(--light-gray);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    width: var(--main-content-width);
}
